{% extends 'base.html' %}

{% block title %} Detalle de Factura {% endblock %}

{% block titulopag %} Detalle de Factura {% endblock %}
{% block contenido %}
<div class="card">
    <div class="card-header">
        Factura de venta No. {{ facturas.id }} 
    </div>
    <div class="card-body">
        <h4 class="card-title">{{ facturas.id}} {{ facturas.fecha_factura}} </h4>
        <p class="card-text">Cliente: {{ facturas.cliente }}</p>
        <p class="card-text">Mesero: {{ facturas.mesero }}</p>
        <p class="card-text">Ubicacion Mesa: {{ facturas.mesa }}</p>
    </div>
    <div class="card-footer text-muted">      
    </div>
</div>

{% endblock %}