{% extends 'base.html' %}

{% block title %} Listar Factura {% endblock %}

{% block contenido %}
<a name="" id="" class="btn btn-success" href="{% url 'crear_factura' %}" role="button">Crear Factura</a>
<h1>Listar Facturas</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Fecha de Factura</th>
            <th>Cliente</th> 
            <th>Mesero</th>
            <th>Mesa</th>
            <th>Total</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>       
          {% for factura in facturas %}
          <tr>
            <td scope="row">{{ factura.id }}</td>
            <td>{{ factura.fecha_factura }}</td>
            <td>{{ factura.cliente }}</td>
            <td>{{ factura.mesero }}</td>
            <td>{{ factura.mesa }}</td>
            <td>{{ factura.total }}</td>              
            <td>
              <a name="" id="editar" class="btn btn-primary btn-sm" href="{% url 'detalle_factura' factura.pk %}" role="button">Ver Detalle</a>
              <a name="" id="editar" class="btn btn-info btn-sm" href="{% url 'actualizar_factura' factura.pk %}" role="button">Editar</a>
              <a name="" id="eliminar" class="btn btn-danger btn-sm" href="{% url 'eliminar_factura' factura.pk %}" role="button">Eliminar</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      

{% endblock %}