{% extends 'base.html' %}

{% block title %} Detalle de Mesero {% endblock %}

{% block titulopag %}   Detalle de Mesero {% endblock %}
{% block contenido %}
<div class="card">
    <div class="card-header">
       Detalle de Mesero  
    </div>
    <div class="card-body">
        <h5 class="card-title">Nombre: {{ waiters.name}} </h5>
        <p class="card-text">Apellidos: {{ waiters.apellido_1}} {{ waiters.apellido_2}}</p>
    </div>
    <div class="card-footer text-muted">      
    </div>
</div>

{% endblock %}