{% extends 'base.html' %}

{% block title %} Eliminar waiter {% endblock %}

{% block contenido %}
<a name="" id="" class="btn btn-success" href="{% url 'crear_mesero' %}" role="button">Crear waiter</a>
    <h1>Listar waiters</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for waiter in waiters %}
          <tr>
            <td scope="row">{{ waiter.id }}</td>
            <td>{{ waiter.name }}</td>
            <td>{{ waiter.apellido_1 }}</td>
            <td>{{ waiter.apellido_2 }}</td>
            <td>
              <a name="" id="editar" class="btn btn-info btn-sm" href="{% url 'detalle_mesero' waiter.pk %}" role="button">Ver Detalle</a>
              <a name="" id="editar" class="btn btn-info btn-sm" href="{% url 'actualizar_mesero' waiter.pk %}" role="button">Editar</a>
              <a name="" id="eliminar" class="btn btn-danger btn-sm" href="{% url 'eliminar_mesero' waiter.pk %}" role="button">Eliminar</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      

{% endblock %}