{% extends 'base.html' %}

{% block title %} Eliminar Cliente {% endblock %}

{% block contenido %}

<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    {{ form }}
    <input class="btn btn-danger" type="submit" value="Confirm">
    <a name="" id="" class="btn btn-primary" href="{% url 'listar_clientes' %}" role="button">Cancelar</a>
</form>
{% endblock %}