{% extends 'base.html' %}

{% block title %} Detalle de Cliente {% endblock %}

{% block titulopag %}   Detalle de Cliente {% endblock %}
{% block contenido %}
<div class="card">
    <div class="card-header">
        Cliente:   
    </div>
    <div class="card-body">
        <h4 class="card-title">{{ clients.nombre}} {{ clients.apellido}} </h4>
        <p class="card-text">observaciones: {{ clients.observaciones }}</p>
    </div>
    <div class="card-footer text-muted">      
    </div>
</div>

{% endblock %}