{% extends 'base.html' %}

{% block title %} Listar Cliente {% endblock %}

{% block contenido %}
<a name="" id="" class="btn btn-success" href="{% url 'crear_cliente' %}" role="button">Crear Cliente</a>
    <h1>Listar Clientes</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Observaciones</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in clients %}
          <tr>
            <td scope="row">{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.observaciones }}</td>
            <td><a name="" id="editar" class="btn btn-primary btn-sm" href="{% url 'detalle_cliente' cliente.pk %}" role="button">Ver Detalle</a>
              <a name="" id="editar" class="btn btn-info btn-sm" href="{% url 'actualizar_cliente' cliente.pk %}" role="button">Editar</a>
              <a name="" id="eliminar" class="btn btn-danger btn-sm" href="{% url 'eliminar_cliente' cliente.pk %}" role="button">Eliminar</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      

{% endblock %}