{% extends 'base.html' %}

{% block title %} Detalle de Producto {% endblock %}

{% block titulopag %}   Detalle de Producto {% endblock %}
{% block contenido %}
<div class="card">
    <div class="card-header">
        Cliente:   
    </div>
    <div class="card-body">
        <h4 class="card-title">{{ products.nombre}} {{ products.descripcion}} </h4>
        <p class="card-text">importe: ${{ products.importe }}</p>
    </div>
    <div class="card-footer text-muted">      
    </div>
</div>

{% endblock %}