{% extends 'base.html' %}

{% block title %} Listar Productos {% endblock %}

{% block contenido %}
<a name="" id="" class="btn btn-success" href="{% url 'crear_mesero' %}" role="button">Crear product</a>
    <h1>Listar products</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td scope="row">{{ product.id }}</td>
            <td>{{ product.nombre }}</td>
            <td>{{ product.descripcion }}</td>
            <td>{{ product.importe }}</td>
            <td>
              <a name="" id="editar" class="btn btn-primary btn-sm" href="{% url 'detalle_producto' product.pk %}" role="button">Ver Detalle</a>
              <a name="" id="editar" class="btn btn-info btn-sm" href="{% url 'actualizar_producto' product.pk %}" role="button">Editar</a>
              <a name="" id="eliminar" class="btn btn-danger btn-sm" href="{% url 'eliminar_producto' product.pk %}" role="button">Eliminar</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      

{% endblock %}