{% extends 'base.html' %}

{% block title %} Crear Ordenes {% endblock %}

{% block contenido %}
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Guardar</button>  
    <button class="btn btn-danger" href={% url 'listar_facturas'%}type="submit">Cancelar</button>  
</form>
{% endblock %}