{% extends 'base.html' %}

{% block title %} Detalle de Orden {% endblock %}

{% block titulopag %} Detalle de Orden {% endblock %}
{% block contenido %}
<div class="card">
    <div class="card-header">
        Factura de venta No. {{ orders.id }} 
    </div>
    <div class="card-body">
        <h4 class="card-title">{{ orders.id}} {{ orders.fecha_factura}} </h4>
        <p class="card-text">factur: {{ orders.cliente }}</p>
        <p class="card-text">Mesero: {{ orders.mesero }}</p>
        <p class="card-text">Ubicacion Mesa: {{ orders.mesa }}</p>
    </div>
    <div class="card-footer text-muted">      
    </div>
</div>

{% endblock %}