{% extends 'base.html' %}

{% block title %} Listar ordenes {% endblock %}

{% block contenido %}
<a name="" id="" class="btn btn-success" href="{% url 'crear_orden' %}" role="button">Crear orders</a>
    <h1>Listar ordernes</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Factura</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Total Item</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td scope="row">{{ order.id }}</td>
            <td>{{ order.factura }}</td>
            <td>{{ order.producto }}</td>
            <td>{{ order.cantidad}}</td>
            <td>{{ order.total_item}}</td>
            <td>
              <a name="" id="editar" class="btn btn-primary btn-sm" href="{% url 'detalle_orden' order.pk %}" role="button">Ver Detalle</a>
              <a name="" id="editar" class="btn btn-info btn-sm" href="{% url 'actualizar_orden' order.pk %}" role="button">Editar</a>
              <a name="" id="eliminar" class="btn btn-danger btn-sm" href="{% url 'eliminar_orden' order.pk %}" role="button">Eliminar</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      

{% endblock %}