{% extends 'base.html' %}

{% block title %} Crear Mesa {% endblock %}

{% block contenido %}
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Guardar</button>  
</form>
{% endblock %}