{% extends 'base.html' %}

{% block title %} Detalle de Mesa {% endblock %}

{% block titulopag %}   Detalle de Mesa {% endblock %}
{% block contenido %}
<div class="card">
    <div class="card-header">
        Detalle de Mesa   
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ tables.num_comensales}} {{ tables.ubicacion}} </h5>
        <p class="card-text"></p>
    </div>
    <div class="card-footer text-muted">      
    </div>
</div>



{% endblock %}