{% extends 'base.html' %}

{% block title %} Listar Mesas {% endblock %}

{% block contenido %}
<a name="" id="" class="btn btn-success" href="{% url 'crear_mesa' %}" role="button">Crear table</a>
    <h1>Listar Mesas</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Numero Comensales</th>
            <th>Ubicacion</th> 
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for table in tables %}
          <tr>
            <td scope="row">{{ table.id }}</td>
            <td>{{ table.num_comensales }}</td>
            <td>{{ table.ubicacion }}</td>            
            <td> <a name="" id="editar" class="btn btn-info btn-sm" href="{% url 'detalle_mesa' table.pk %}" role="button">Ver Detalle</a>
              <a name="" id="editar" class="btn btn-info btn-sm" href="{% url 'actualizar_mesa' table.pk %}" role="button">Editar</a>
              <a name="" id="eliminar" class="btn btn-danger btn-sm" href="{% url 'eliminar_mesa' table.pk %}" role="button">Eliminar</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      

{% endblock %}