{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block contenido %}

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Menu principal</h1>      
        <hr class="my-2">     
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="{% url 'listar_clientes' %}" role="button">Clientes</a>
        </p>
        <p class="lead">
        <a class="btn btn-primary btn-sm" href="{% url 'listar_meseros' %}" role="button">Meseros</a>
        </p>
        <p class="lead"> 
        <a class="btn btn-primary btn-sm" href="{% url 'listar_mesas' %}" role="button">Mesas</a>
        </p>
        <p class="lead"> 
        <a class="btn btn-primary btn-sm" href="{% url 'listar_productos' %}" role="button">Productos</a>
        </p>
        <p class="lead"> 
        <a class="btn btn-primary btn-sm" href="{% url 'listar_facturas' %}" role="button">Facturas</a>
        </p>
        <p class="lead"> 
        <a class="btn btn-primary btn-sm" href="{% url 'listar_ordenes' %}" role="button">Ordenes</a>
        </p>
        <p class="lead"> 
        <a class="btn btn-warning btn-sm" href="/api" role="button">RestFramework</a>
        </p>
    </div>
</div>


{% endblock %}